body {
    color: black;
    font-size: 18px;
}

a {
    color: #777777
}

a:visited {
    color: #444444
}

h3,
h3.archive__subtitle {
    clear: both;
    color: black;
    font-family: "Komet";
}



h1,
h2 {
    color: black;
    font-family: "Komet";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Komet";
}

#main {
    position: relative;
}
