body {
    color: rgb(168, 62, 62);
}

a {
    color: #3b9479
}

a:visited {
    color: #da6900
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #66105b;
    font-family: "Komet";
    font-size: 1.35em;
}



h1,
h2 {
    color: black;
    font-family: "Komet";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Komet";
}

#main {
    position: relative;
}