.masthead {
    background-color: #39456b
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: rgb(190, 189, 189);
}

#site-nav a,
#site-nav a:visited {
    font-family: "Komet";
}

.masthead__menu-item a {
    font-weight: bold;
}

a.site-title {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #030d17;
}